rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para ações/planos
    match /actionPlans/{planId} {
      allow read, write: if true;
    }

    // Regras para tarefas
    match /tasks/{taskId} {
      allow read, write: if true;
    }

    // Regras para reuniões
    match /meetings/{meetingId} {
      allow read, write: if true;
    }

    // Regras para prestadores
    match /collaborators/{collaboratorId} {
      allow read, write: if true;
    }

    // Regras para grupos
    match /teams/{teamId} {
      allow read, write: if true;
    }

    // Regras para departamentos
    match /departments/{departmentId} {
      allow read, write: if true;
    }

    // Regras para tipos de serviço
    match /serviceTypes/{serviceTypeId} {
      allow read, write: if true;
    }

    // Regras para empresas
    match /companies/{companyId} {
      allow read, write: if true;
    }

    // Regra para testes
    match /test/{document=**} {
      allow read, write: if true;
    }
  }
}